h2 {
  padding-top: 50px;
}

.containerAxD{
  margin-bottom: 30px;
}

.cardContainer{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.cardContainer img{
  height: 450px;
  width: 260px;
  border-radius: 20px;
}

.textcard{
  font-size: 25px;
  padding-left: 402.4px;
  color: #0d5c3d;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 20px;
  text-decoration:underline;
  
}

.galeria-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:18px;
}

.galeria-grid img{
  width: 300px;
  height:450px;
  object-fit:cover;
  border-radius:12px;
  box-shadow:0 4px 18px rgba(0,0,0,0.08);
}

@media (max-width:1000px){
  .galeria-grid{
    grid-template-columns:1fr;
  }
}
