:root{
  --green:#0d5c3d;
  --green-light:#14784c;
  --text:#1b1b1b;
  --gray:#555;
  --bg-soft:#f7f7f7;
  --radius:14px;
}

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:Inter,system-ui,Arial,sans-serif;
}

body{
  background:#fff;
  color:var(--text);
}

/* Margens de conteúdo (requisito 15%) */
.site{
  margin-left:15%;
  margin-right:15%;
}

/* NAVBAR */
.navbar{
  position:fixed;top:0;left:0;right:0;
  background:#ffffffea;
  backdrop-filter:blur(8px);
  box-shadow:0 4px 20px rgba(0,0,0,0.05);
  z-index:1000;
}

.nav-inner{
  max-width:1200px;
  margin:0 auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:14px 20px;
}

.nav-logo{height:50px}

.nav-links{
  display:flex;
  gap:22px;
}

.nav-links a{
  text-decoration:none;
  color:var(--text);
  font-weight:500;

}

.nav-links a:hover {
  color: #3DA35D;
}

.nav-links a {
  padding: .5em .8em;
  color: rgba(0, 0, 0, 0.685);
  position: relative;
  text-decoration: none;
  font-size: 17px;
}

.nav-links a:before,
.nav-links a:after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .66s ease;
  opacity: 0;
}

.nav-links a:before {
  content: '';
  right: 0;
  top: 0;
  border-top: 2px solid #3E8914;
  border-right: 2px solid #2E640F;
  transform: translate(-100%, 50%);
}

.nav-links a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 2px solid #2E640F;
  border-left: 2px solid #3E8914;
  transform: translate(100%, -50%)
}

.nav-links a:hover:before,
.nav-links a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav-links a.active{
  color:var(--green);
  font-weight:600;
}

/* SEÇÕES */
.section{
  padding:60px 0;
}

.section h2{
  font-size:32px;
  color:var(--green);
  text-align:center;
  margin-bottom:28px;
}

.section p{
  text-align: justify;
}

/* CARDS */
.card{
  background:#fff;
  padding:28px;
  border-radius:12px;
  box-shadow:0 6px 28px rgba(0,0,0,0.06);
  text-align:center;
  border: 1px solid #ccc;
}

.card img{
  height:48px;
  opacity:.9;
  margin-bottom:8px;
}

.card h3{
  color:var(--green);
  margin-bottom:8px;
}

.card p{
  color:var(--gray);
  font-size:15px;
}

.cardimg {
  display: flex;
  gap: 20px;
}

.cardimg p{
  font-size: 16.6px;
}

.cardimg img{
  height: 340px;
  max-width: auto;
  border: 3px rgb(14, 129, 14) solid;
  border-radius: 15px;
}

/* FOOTER */
footer{
  padding:30px 0;
  text-align:center;
  background:#f1f1f1;
  color:var(--gray);
  margin-top:40px;
}

.site-footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.site-footer .footer-content p {
  margin: 5px 0;
  font-size: 0.9rem;
}


/* RESPONSIVO */
@media (max-width:1000px){

  .nav-links{display:none}

  .site{
    margin-left:6%;
    margin-right:6%;
  }
}
