.hero{
  display:flex;
  align-items:center;
  gap:40px;
  padding:110px 0 40px;
}

.hero-left{
  max-width:520px;
}

.hero-left h1{
  font-size:44px;
  color:var(--green);
  line-height:1.15;
  margin-bottom:14px;
}

.hero-left p{
  color:var(--gray);
  margin-bottom:20px;
  font-size:18px;
}

.btn-primary{
  display:inline-block;
  padding:12px 26px;
  background:var(--green-light);
  color:#fff;
  border-radius:12px;
  text-decoration:none;
  font-weight:600;
}

.hero-right img{
  width:520px;
  border-radius:14px;
  box-shadow:0 8px 40px rgba(0,0,0,0.12);
}

.servicos-desc {
    color: rgb(53, 52, 52);
    padding-top: 25px;
    text-align: center;
    font-size: 15px;
}


@media (max-width:1000px){
  .hero{
    flex-direction:column;
    text-align:center;
  }

  .hero-right img{
    width:100%;
    max-width:380px;
  }
}
